html {
    background-color: grey;
}
body {
    margin: 25px;
    background-color: white;
}

table, th, td {
    padding: 5px;
    border: 3px solid black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a.easter_egg {
    color: white;
}

.gaming_table{
    width: 75%;
}

button {
    font-size: xx-small;
}
